alembic
annotated-types
asttokens
attrs
bleach
catboost
certifi
charset-normalizer
colorlog
comm
contourpy
cycler
dacite
debugpy
decorator
exceptiongroup
executing
fastjsonschema
filetype
fonttools
graphviz
greenlet
idna
ImageHash
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kaggle
kiwisolver
lightgbm
llvmlite
Mako
MarkupSafe
matplotlib
matplotlib-inline
minify_html
multimethod
narwhals
nbformat
nest-asyncio
networkx
numba
numpy
nvidia-nccl-cu12
optuna
packaging
pandas
parso
patsy
pexpect
phik
pillow
pip
platformdirs
plotly
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
puremagic
pyarrow
pydantic
pydantic_core
pydot
Pygments
pyparsing
python-dateutil
python-slugify
pytz
PyWavelets
PyYAML
pyzmq
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
setuptools
six
skrub
SQLAlchemy
stack-data
statsmodels
text-unidecode
threadpoolctl
tomli
tornado
tqdm
traitlets
typeguard
typing_extensions
typing-inspection
tzdata
urllib3
visions
wcwidth
webencodings
wordcloud
xgboost
ydata-profiling
zipp
